In [ ]:
def checkARMno(n):
        if (int(n[0])**3 +int(n[1])**3+int(n[2])**3==int(n)):
            result=(f"{n} is an Armstrong no")
        else:
            result= (f"{n} is not an Armstrong no")

        return result

n=input("Enter a 3 digit no: ")

checkARMno(n)

Enter a 3 digit no: 171

'171 is not an Armstrong no'

In [ ]:
test_tuple=(3,7,1,18,9)
k=int(input("Enter a no: "))
new_T=list(test_tuple)
result=[]
if k>len(new_T)//2:
  print("Error:Value of k is too large for tuple")
else:
  for i in range(k):
    result.append(min(new_T))
    result.append(max(new_T))
    new_T.remove(min(new_T))
    new_T.remove(max(new_T))
  print(tuple(sorted(result)))

Enter a no: 2
(2, 2, 5, 12)

In [ ]:
n=int(input("Enter no of elements: "))

list1=[]
for i in range(n):
  list1.append(int(input("Enter an element: ")))
listc=[i**3 for i in list1]
result=[]
rslt=zip(list1,listc)
result=list(rslt)

print(result)

Enter no of elements: 3
Enter an element: 1
Enter an element: 2
Enter an element: 3
[(1, 1), (2, 8), (3, 27)]

In [ ]:
Input: list = [1, 2, 3]

Output: [(1, 1), (2, 8), (3, 27)]



Input: list = [9, 5, 6]

Output: [(9, 729), (5, 125), (6, 216)]

# Python program to create a list of tuples

# from given list having number and

# its cube in each tuple



# creating a list

list1 = [1, 2, 5, 6]



# using list comprehension to iterate each

# values in list and create a tuple as specified

res = [(val, pow(val, 3)) for val in list1]



# print the result

print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

In [ ]:
n=int(input("Enter no of elements: "))
dis={}
for i in range(n):
  key=input("Enter key{}: ".format(i+1))
  value=int(input("Enter value{}: ".format(i+1)))
  dis[key]=value
values=[]
for key,value in dis.items():
  values.append(value)
print(sum(values))

Enter no of elements: 3
Enter key1: a
Enter value1: 100
Enter key2: b
Enter value2: 40
Enter key3: c
Enter value3: 56
196

In [ ]:
# Python3 Program to find sum of

# all items in a Dictionary



# Function to print sum

def returnSum(dict):
  sum = 0
  for i in dict.values():
    sum = sum + i
  return sum



dict = {'a': 100, 'b': 200, 'c': 300}

print("Sum :", returnSum(dict))

Sum : 600

In [ ]:
tp1=tuple([12, 10, 13, 15, 8, 9])

list1=list(tp1)
for i in range(len(tp1)):
  list1.pop()
  print(tuple(list1))

(12, 10, 13, 15, 8)
(12, 10, 13, 15)
(12, 10, 13)
(12, 10)
(12,)
()

In [ ]:
#Input : set([12, 10, 13, 15, 8, 9])

#Output :

#{9, 10, 12, 13, 15}

#{10, 12, 13, 15}

#{12, 13, 15}

#{13, 15}

#{15}

#set()

def Remove(initial_set):
  while initial_set:
    initial_set.pop()
    print(initial_set)



initial_set = set([12, 10, 13, 15, 8, 9])

Remove(initial_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [ ]:
import math
def is_prime(n):
    if n<2:
         return False
    for i in range (2,int(math.sqrt(n))+1):
        if n%i==0:
            return False
    return True

prime_nos=[num for num in range(2,20000001) if is_prime(num)]
print(sum(prime_nos))

12272577818052

In [ ]:
list1= [12, 35, 9, 56, 24]
print(list1)
def swapping(a):
  a[0],a[-1]=a[-1],a[0]
  return a
print("Result is : ",swapping(list1))

[12, 35, 9, 56, 24]
Result is :  [24, 35, 9, 56, 12]

In [ ]:
listl=[12, 14, 95, 3]
def counteo(l):
  e=[]
  o=[]
  for i in l:
    if i%2==0:
      e.append(i)
    else:
      o.append(i)
  result=print("Even= ",len(e),". ","Odd= ",len(o))
  return result

counteo(list1)

Even:  3 .  Odd:  2

In [ ]:
from functools import reduce
ll= [1, 2, 3]


result=reduce(lambda x,y:x*y,ll)
print(result)

6

In [ ]:
list1 = [2, -7, 5, -64, -14]
list2 = [-12, 14, 95, 3]
def countpn(l):
  p=[]
  n=[]
  for i in l:
    if i>0:
      p.append(i)
    else:
      n.append(i)
  result=print("pos= ",len(p),". ","neg= ",len(n))
  return result

countpn(list1)
countpn(list2)

pos=  2 .  neg=  3
pos=  3 .  neg=  1

In [ ]:
str1 = "my name is surendra"
list1=str1.split(" ")
print(" ".join(list1[::-1]))

surendra is name my

In [ ]:
s = "This is a python language"
l=s.split(" ")
print("The words with even length are: ")
for i in l:
  if len(i)%2==0:
    print(i,end=" ")

The words with even length are:
This is python language

In [ ]:
s=input("Enter a string: ")
def el(s,n):
  l=list(s)
  l.pop(n)
  print("".join(l))

el(s,int(input("Enter ith character: ")))

Enter a string: gdg hhg t
Enter ith character: -1
gdg hhg

s.split(" ") splits the string into words (not characters).
If you want to remove a character at a specific index, you should use list(s) instead.

In [ ]:
def fibonacci(n):
    a = 0
    b = 1
    for i in range(n):

      print(a,end=" ")

      a,b=a+b






fibonacci(4)

0 1 1 2 3 5 8

In [ ]:
def fib(nterm):
  if nterm==0 :
    return 0
  if nterm<=2:
    return 1
  else:
    return (fib(nterm-1)+fib(nterm-2))
n=int(input("Enter a number: "))
for i in range(n):
  print(fib(i))

fib(0)

Enter a number: 6
0
1
1
2
3
5

0

In [ ]:
def fibsum(n):
  sl=[]
  for i in range(fib(n)):
    sl.append(i)
  return sum(sl)

fibsum(4)

3

In [ ]:
def calculate(input1, input2):

      x = input1 + input2

      y = input1 * input2

      print(x)

      return y-x



def calculate2(input):

      print(input)

      return input * input



a = 10

b = 8

print(a)

c = calculate(a, b)

calculate2(3)

print(c)

10
18
3
62

In [ ]:
def pow(N,P):
  if P==0:
    return 1
  elif P==1:
    return N
  else:
    return pow(N,1)*pow(N,P-1)

SyntaxError: invalid syntax (<ipython-input-37-c1c295af983d>, line 12)

In [ ]:
l=[1,1,1,1,0]

sl=[2**i for i in range(len(l)-1,-1,-1)]
sl

[16, 8, 4, 2, 1]

In [ ]:
res=[]
for x in l:
  for y in sl:
    res.append(x*y)
res

[8, 4, 2, 1, 8, 4, 2, 1, 8, 4, 2, 1, 0, 0, 0, 0]

In [ ]:
def to_decimal(number, base):
    number_list = [int(digit) for digit in str(number)]  # Convert digits to integers
    sl = [base**i for i in range(len(number_list)-1, -1, -1)]  # Compute place values
    res = sum(x * y for x, y in zip(number_list, sl))  # Multiply & sum corresponding values
    return res

# Example usage:
base = 2
decimal_value = to_decimal(1110, base)
print(decimal_value)  # Output: 14

14

In [ ]:
# Function to convert any base number

# to its corresponding decimal number

def any_base_to_decimal(number, base):
  temp = int(number, base)
  print(temp)





hexadecimal_number = '1A'

base = 16

any_base_to_decimal(hexadecimal_number, base)

26

This function, any_base_to_decimal, is designed to convert a number from any base into its decimal (base-10) equivalent. Hereâ€™s a breakdown of how it works:

Function Definition:
The function takes two parameters: number and base.

number is expected to be a string representing the number in its original base (for example, "101" for binary or "1A" for hexadecimal).
base is an integer that specifies the base of the given number (e.g., 2 for binary, 16 for hexadecimal).
Conversion Using int(number, base):
The built-in Python function int() is used with two arguments. When you call int(number, base), Python interprets the string number as a number in the specified base and converts it into its decimal (base-10) integer equivalent.

For example, int("101", 2) converts the binary number "101" to the decimal number 5.
Storing and Printing the Result:
The result of the conversion is stored in the variable temp. Then, the function prints temp to display the decimal value.

Overall, the function efficiently converts a number from any specified base to a decimal number and prints the result.

In [ ]:
class Account():
  def __init__(self):
    self.balance=0
    print("New account is created")
  def deposit(self):
    amountd=float(input("Enter amount to be deposited : "))
    self.balance+=amountd
    print("New balance is :",self.balance)
  def withdraw(self):
    amountw=float(input("Enter amount to be withdrawn : "))
    if amountw>self.balance:
      print("Insufficient balance")
    else:
      self.balance-=amountw
      print("New balance is :",self.balance)
  def enquiry(self):
      print("Balance is: ",self.balance)

ac=Account()
ac.deposit()
ac.withdraw()
ac.enquiry()

New account is created
Enter amount to be deposited : 4322
New balance is : 4322.0
Enter amount to be withdrawn : 5000
Insufficient balance
Balance is:  4322.0